<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История авторизации</title>
</head>
<body>
    <table>
    <tr>
        <th>id</th>
        <th>client id</th>
        <th>date</th>
        <th>device</th>
        <th>IP-address</th>
    </tr>
    <tr th:each="authorization : ${ah_history}">
        <td th:text="${authorization.id}"></td>
        <td th:text="${authorization.clientId}"></td>
        <td th:text="${authorization.date}"></td>
        <td th:text="${authorization.device}"></td>
        <td th:text="${authorization.ipAddress}"></td>
    </tr>
    </table>
</body>
</html>