<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новое право доступа</title>
</head>
<body>
<form method="post" th:action="@{/access_rights/new}" th:object="${new_access_right}">

    <label for="newRight1">Право доступа</label>
    <input id="newRight1" type="text" required th:field="*{theRight}">
    <label for="newRight2">Псевдоним</label>
    <input id="newRight2" type="text" required th:field="*{alias}">

    <button type="submit">Добавить</button>
</form>
</body>
</html>