<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый клиент</title>
</head>
<body>
<form method="post" th:action="@{/clients/new}" th:object="${new_client}">

    <label for="newClient1">Номер контракта</label>
    <input id="newClient1" type="text" required th:field="*{contractNumber}">
    <label for="newClient2">Имя клиента</label>
    <input id="newClient2" type="text" required th:field="*{name}">
    <label for="newClient3">Логин</label>
    <input id="newClient3" type="text" required th:field="*{login}">
    <label for="newClient4">Пароль</label>
    <input id="newClient4" type="password" required th:field="*{password}">
    <label for="newClient5">Адрес</label>
    <input id="newClient5" type="text" required th:field="*{address}">
    <label for="newClient6">Платежный счет</label>
    <input id="newClient6" type="text" required th:field="*{paymentAccount}">
    <label for="newClient7">Имя отправителя сообщений</label>
    <input id="newClient7" type="text" required th:field="*{messageSenderName}">
    <select  th:field="*{tariffId}">
        <option th:each="tariff : ${tariffs}"
                th:value="${tariff.id}"
                th:text="${tariff.name}">
        </option>
    </select>
    <select  th:field="*{userId}">
        <option th:each="user : ${users}"
                th:value="${user.id}"
                th:text="${user.name}">
        </option>
    </select>

    <button type="submit">Добавить</button>
</form>
</body>
</html>