<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{css/new-field.css}" />

    <title th:text="${clients_subscribers_group.id == null ? 'Добавление группы' : 'Редактирование группы'}"></title>
</head>
<body>
	<header class = "main-header">
		<nav class = "main-navigation">
			<ul class = "first">
				<li><a href = "#">Права</a>
					<ul class = "child">
			            <li><a href="ar_access_rights.html">Список</a></li>
			            <li><a href="ar_new_access_right.html">Добавить</a></li>
			        </ul>
				</li>
				<li><a href = "#">Клиенты</a>
					<ul class = "child">
							<li><a href="c_clients.html">Список</a></li>
							<li><a href="c_new_client.html">Добавить</a></li>
					</ul>
				</li>
				<li><a href = "#">Пользователи</a>
					<ul class = "child">
							<li><a href="u_users.html">Список</a></li>
							<li><a href="u_new_user.html">Добавить</a></li>
					</ul>
				</li>
				<li><a href = "#">Контактные лица</a>
					<ul class = "child">
							<li><a href="cp_contact_persons.html">Список</a></li>
							<li><a href="cp_new_contact_person.html">Добавить</a></li>
					</ul>
				</li>
				<li><a href = "#">Группы клиентов</a>
					<ul class = "child">
							<li><a href="csg_clients_subscribers_groups.html">Список</a></li>
							<li><a href="csg_new_clients_subscribers_group.html">Добавить</a></li>
					</ul>
				</li>
				<li><a href = "#">Роли</a>
					<ul class = "child">
							<li><a href="r_roles.html">Список</a></li>
							<li><a href="r_new_role.html">Добавить</a></li>
					</ul>
				</li>
				<li><a href = "#">SMS</a>
					<ul class = "child">
							<li><a href="s_sms.html">Список</a></li>
							<li><a href="s_new_sms.html">Добавить</a></li>
					</ul>
				</li>
				<li><a href = "#">Шаблоны SMS</a>
					<ul class = "child">
							<li><a href="st_sms_templates.html">Список</a></li>
							<li><a href="st_new_sms_template.html">Добавить</a></li>
					</ul>
				</li>
				<li><a href = "#">Абоненты</a>
					<ul class = "child">
							<li><a href="s_subscribers.html">Список</a></li>
							<li><a href="s_new_subscriber.html">Добавить</a></li>
					</ul>
				</li>
				<li><a href = "#">Тарифы</a>
					<ul class = "child">
							<li><a href="t_tariffs.html">Список</a></li>
							<li><a href="t_new_tariff.html">Добавить</a></li>
					</ul>
				</li>
				<li><a href = "ah_authorization_history.html">История авторизаций</a></li>
				<li><a href = "ch_change_history.html">История изменений</a></li>
				<li><a href = "crh_credit_history.html">История пополнений</a></li>
				<li><a href = "dh_debit_history.html">История списаний</a></li>
			</ul>
		</nav>
	</header>
	<form class = "main-form" method="post" th:action="@{/clients_subscribers_groups/save}" th:object="${clients_subscribers_group}">
		<fieldset>
		<h2 class = "header-form">Входные данные</h2>
		<input hidden th:field="*{id}">
		<ul class = "main-list">
			<li class = "main-list-item">
				<label for="newRole1">Название группы</label>
				<input id="newRole1" type="text" required th:field="*{name}">
			</li>
			<li class = "main-list-item">
			<label>Абоненты в группе</label>
				<select class="select-list" th:field="*{subIds}" multiple>
					<option th:each="sub : ${subs}"
							th:value="${sub.id}"
							th:text="${sub.name}">
					</option>
				</select>
			</li>
			<li class = "main-list-item">
				<button class = "button-submit" type="submit">Сохранить</button>
			</li>
		</ul>
		</fieldset>
	</form>
</body>
</html>