<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новое право доступа</title>
</head>
<body>
<form method="post" th:action="@{/subscribers/new}" th:object="${new_subscriber}">

    <label for="newSubscriber1">Имя абонента</label>
    <input id="newSubscriber1" type="text" required th:field="*{name}">
    <label for="newSubscriber2">Номер телефона</label>
    <input id="newSubscriber2" type="text" required th:field="*{phoneNumber}">

    <button type="submit">Добавить</button>
</form>
</body>
</html>