<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Тариф</title>

</head>
<body>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Тариф</th>
        <th>Стоимость 1 смс</th>
    </tr>
    <tr th:each=" tariff: ${tariffs}">
        <td th:text="${tariff.id}"></td>
        <td th:text="${tariff.name}"></td>
        <td th:text="${tariff.oneSmsCost}"></td>
    </tr>
</table>

</body>
</html>